@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
    font-family: 'Karla', sans-serif !important;
    background-color: hsl(218, 22%, 67%);
    margin: 0;
    padding-bottom: 10%;
}

div.row {
    border-radius: 18px;
}
li.list-group-item {
    color: white;
    background-color: hsl(179, 62%, 43%);
    border: 0;
}